/* The side navigation menu */
#controlling_template_sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#controlling_template_sidebar h6 {
    color: #fff3cd;
    font-size: 14px;
}

/* Position and style the close button (top right corner) */
#controlling_template_sidebar .close_btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
}

#controlling_template_sidebar.active {
    width: auto !important; /* 0 width - change this with JavaScript */
}


#sidebar_toggle_btn {

    width: 10px;
    height: 85%;

    /*alignment*/
    top: 50%;
    transform: translate(0, -50%);


    border-radius: 0 500px 500px 0;

    transition: all 300ms;
    background-color: #fff;
    color: #008CBA;
}

.controlling_sidebar_title {
    width: auto;
}

#position_list_ul {
    min-width: 150px;
}

.position_div {
    max-width: 150px;
    z-index: 9999;
}

.action_name_input {
    max-width: 150px;

    background-color: black;
    color: white;
    border-color: #008CBA;
    border-style: none none solid none !important;
    border-radius: 2px;
}

#scenario_list_ul {
    min-width: 150px;
    max-width: 200px;
}

.actions-drop-active {
    border-color: #aaa;
}

.actions-drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.action-can-drop {
    color: #000;
    background-color: #aaa;
}

.scenario_dropdown_menu {
    left: 47% !important;
}

.position_of_scenario {
    max-width: 150px;
}

#video_area_div {
    max-width: 720px;
    max-height: 640px;

    /*alignment*/

    width: 44%;
    height: 20%;
    margin: 1% auto;

    background-color: #fff;
    border-radius: 5px;
    border: #8d75a3 solid;


    transition: all 500ms;
}


#video_area_div.focused {

    margin: -20% auto !important;
    height: 20% !important;
    width: 99% !important;

}

#get_preview_span {
    visibility: visible;
    max-width: 100%;
    max-height: 50%;

    width: 150px;
    height: 20px;

    top: 40%;
    left: 50%;
    z-index: 150;
    opacity: 1;
    font-size: 70%;

    /*color: #3c763d;*/

    transform: translate(-50%);

    /*border: black dotted;*/

}

#stream_area_img {

    max-width: 100%;
    max-height: 100%;

    margin: 0 auto;
    display: block;

    /*alignment*/
    position: relative;
    /*top: 2rem;*/
    vertical-align: middle;

    /*width: 32rem;*/
    height: 75px;
    /*border: red solid;*/
    transition: all 300ms;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#stream_area_img.focused {
    z-index: 200;

    width: 100%;
    height: 100%;

    object-fit: contain;
}

#motion_control_div {

    visibility: visible;
    opacity: 1;
    /*alignment*/
    margin: auto;
    top: 42%;
    left: 10%;

    max-width: 100%;
    max-height: 250px;

    width: 80%;
    height: 70%;

    min-width: 250px;

    transition: all 500ms;

    /*border: mediumvioletred solid;*/

    z-index: 200;
}

#record_pos_sce_btn {

    /*alignment*/
    top: 90%;
    left: 80%;

    margin: auto;
    border-radius: 5px;

    transition: all 300ms;
    background-color: #fff;
    color: #008CBA;

    z-index: 201;
}

#record_pos_sce_div {
    visibility: hidden;
    opacity: 0;
    /*alignment*/
    top: 106%;
    left: 101%;

    width: 50px;
    height: 50px;

    transition: all 500ms;

    border: gold solid;

    /*z-index: 200;*/
}

#record_pos_sce_div.focused {
    visibility: visible !important;
    opacity: 1 !important;
    /*alignment*/
    top: 15% !important;
    left: 10% !important;

    max-width: 100%;
    max-height: 350px;

    width: 80% !important;
    height: 70% !important;

    min-width: 250px;
}

#pos_sce_select_div {
    visibility: visible;
    opacity: 1;

    /*alignment*/
    top: 50%;
    left: 50%;

    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms;

    border: gray solid;
}

#pos_sce_select_div.inactive {
    visibility: hidden !important;
    opacity: 0 !important;

    width: 100%;
    height: 100%;
}

#pos_sce_select_div button {
    background-color: #fff0eb;
    color: #008CBA;
}

#record_as_position_div {
    visibility: hidden;
    opacity: 0;

    width: 20%;
    height: 20%;

    /*alignment*/
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: all 300ms;

    background-color: #fff0eb;
    border: green solid;
}

#record_as_position_div.focused {
    visibility: visible;
    opacity: 1;

    width: 100% !important;
    height: 70% !important;
}

#record_as_position_div ._button {
    background-color: #fff0eb;
    color: #008CBA;
}

#position_div_back_btn {
    border-style: none solid solid none;
    border-color: #008CBA;
}

#position_name_input {
    margin: 20px auto;

}

#create_pos_btn {

    left: 50%;
    transform: translate(-50%);

    margin: 5px auto;
}

#record_in_scenario_div {
    visibility: hidden;
    opacity: 0;

    width: 20%;
    height: 20%;

    /*alignment*/
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: all 300ms;

    background-color: #fff0eb;
    border: green solid;
}

#record_in_scenario_div.focused {
    visibility: visible;
    opacity: 1;

    width: 100% !important;
    height: 95% !important;
}

#record_in_scenario_div ._button {
    background-color: #fff0eb;
    color: #008CBA;
}

#scenario_div_back_btn {
    border-style: none solid solid none;
    border-color: #008CBA;
}


#create_sce_btn {

    left: 50%;
    transform: translate(-50%);

    margin: 5px auto;
}

#record_in_scenario_list_ul {
    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 185px;
    height: 180px;
    margin: auto;

    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 96%;
    transition: opacity 300ms;

}