.shine_in_dark {
    visibility: visible !important;
    opacity: 1 !important;

    color: #fff !important;

    z-index: 200 !important;
}

.shine_as_red_in_dark {
    visibility: visible !important;
    opacity: 1 !important;

    color: red !important;

    z-index: 200 !important;
}

#job_btn {
    border-radius: 50%;
    cursor: move;

    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.3), 0 6px 20px 5px rgba(0,0,0,0.19);
}

#job_btn.clicked {
    left: 50% !important;
    transform: translate(-50%) !important;
    border-radius: initial !important;
    width: 100px !important;
}

#job_div {
    display: none;

    max-width: 100%;
    max-height: 100%;
    /*margin: 0 auto;*/

    height: 85%;

    transition: opacity 300ms;
    /*border: #8a6d3b solid;*/
}

#job_div.focused {
    display: block; !important;
}

#job_simulate_btn {
    visibility: visible;
    opacity: 1;
    top: 90%;
    left: 60%;

    transition: all 300ms;
}

#job_simulate_btn.active {
    left: 50% !important;
    transform: translate(-50%) !important;
}

#job_simulate_btn.inactive {
    visibility: hidden !important;
    opacity: 0 !important;

    left: 100% !important;
}

#job_simulate_btn.take_shots_job {
    left: 50% !important;
    transform: translate(-50%) !important;

    top: 93% !important;
}

#job_ready_btn {
    top: 90%;
    left: 10%;

    transition: all 300ms;
}

#job_ready_btn.ready {
    top: 5% !important;
    left: 50% !important;
    transform: translate(-50%) !important;
}

#job_ready_btn.start {
    top: 90% !important;
    left: 50% !important;
    transform: translate(-50%) !important;
}

#job_cancel_btn {
    visibility: hidden;
    opacity: 0;
    top: 5%;
    left: 50%;
    transform: translate(-50%);

    transition: all 10ms;
}

#job_cancel_btn.active {
    visibility: visible !important;
    opacity: 1 !important;
    top: 90% !important;
    transition: all 300ms !important;
}

#job_cancel_btn.pause_job {
    left: 65% !important;
    transform: translate(0) !important;
    transition: all 300ms !important;
}

#mark_target_dd_div {
    display: none;

    top: 2%;
    left: 15%;
    transform: translate(-50%);
}

#mark_target_dd_div.focused {
    display: inherit;
    z-index: 210;
}

#monitor_area_div {
    display: none;

    max-width: 1080px;
    max-height: 720px;

    /*alignment*/
    top: 60%;
    left: 50%;
    transform: translate(-50%);

    width: 0;
    height: 0;

    background-color: #fff;
    border-radius: 10px;
    border: #8d75a3 solid;

    transition: all 500ms;
}


#monitor_area_div.focused {
    display: inherit;

    height: 20% !important;
    width: 85% !important;

    top: 40% !important;
}

#monitor_area_div.focused_shots_taking {
    display: inherit;

    height: 20% !important;
    width: 85% !important;

    top: 10% !important;

    transition: all 500ms;
}

#monitor_area_div.active {
    width: 99% !important;
    height: 70% !important;
    top: 10% !important;

}

/*Flash class and keyframe animation */
#monitor_area_div.flashit{
  color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

#monitor_job_span {
    visibility: visible;
    max-width: 100%;
    max-height: 50%;

    width: 180px;
    height: 20px;

    top: 40%;
    left: 50%;
    z-index: 150;
    opacity: 1;
    font-size: 90%;

    transform: translate(-50%);
    /*border: black dotted;*/
}

#monitor_stream_area_img {

    max-width: 100%;
    max-height: 100%;

    margin: 0 auto;
    display: block;

    /*alignment*/
    position: relative;
    /*top: 2rem;*/
    vertical-align: middle;

    /*width: 32rem;*/
    height: 75px;
    /*border: red solid;*/
    transition: all 300ms;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#monitor_stream_area_img.focused {
    z-index: 200;

    width: 100%;
    height: 100%;

    object-fit: contain;
}

#main_selected_div {
    max-height: 300px;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

#main_selected_div span {
    color: white;
}

#selected_sce_div {
    /*border: #20c997 solid;*/
    width: 170px;
    text-align: center;
}

#selected_sce_span {
    text-decoration: underline;
}

#selected_param_div {
    /*border: #20c997 solid;*/
    width: 170px;
    text-align: center;
}

#selected_param_span {
    text-decoration: underline;
}