body {
    overflow: hidden;
    background-color: #fff0eb; /*Default white tone*/
}

.hidden_element {
    visibility: hidden !important;
    opacity: 0 !important;

    pointer-events: none;
}

.hidden_element_without_child {
    visibility: hidden !important;
}

.text_input {
    /*alignment*/
    position: relative;
    width: 98%;

    transition: all 300ms;
    background-color: #fff0eb;
    border: 2px #008CBA;
    border-style: none none solid none;
    border-radius: 5px;
}

#main_container {
    max-width: 100%;
    max-height: 100%;
    border: #3c763d dashed;

    width: 90%;
    height: 97%;

    min-width: 20rem;
    min-height: 30rem;
}

#title_div {
    max-width: 400px;
    max-height: 50%;
    margin: auto;

    width: 100%;
    height: 115px;

    min-width: 100px;
    border: tomato solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 59;
}

#title_h1{
    margin: 0;
}

#title_footer{ /* Powered by*/}

#title_a{ /*T_System*/}

#page_control_div {}

#settings_btn {}

#control_btn {}

#on_work_btn {}

.swiper-container {
    max-width: 90%;
    max-height: 95%;

    /*alignment*/
    top: 20%;
    left: 50%;

    width: 85%;
    height: 70%;

    position: absolute;
    transform: translate(-50%);
    z-index: 61;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

#settings_template_container {

    visibility: visible;
    opacity: 1;

    /*background-color: #fff0eb;*/
    transition: opacity 300ms;
    border: #8d75a3 dashed;
    margin: auto;
}

#controlling_template_container {
    visibility: visible;
    opacity: 1;

    transition: opacity 300ms;
    border:#3c763d  dashed;
    margin: auto;
    z-index: 61;
}

#on_work_template_container {

    visibility: visible;
    opacity: 1;

    margin: auto;
    transition: opacity 300ms;
    border: #8d75a3 dashed;
}

#system_info_template_container {
    visibility: visible;
    opacity: 1;

    max-width: 500px;
    max-height: 580px;

    /*alignment*/
    top: 95%;
    left: 50%;

    width: 120px; /*goes to 85%*/
    height: 30px; /* goes to 68%*/

    transition: all 300ms;
    transform: translate(-50%);

    margin: auto;
    /*border: turquoise solid;*/
    z-index: 61;
}

#system_info_template_container.focused {
    top: 20% !important;
    width: 85% !important;
    height: 68% !important;
}

#dark_deep_background_div {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 60;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;

    /*border: #3c763d solid;*/
}

#dark_deep_background_div.focused {
        opacity: 1 !important;
}



