html, body {
  height: 100%;
}

body {
    overflow: hidden;
    background-color: #fff0eb; /*Default white tone*/
    transform: translateZ(0);
}

footer {
  text-align: center;
  font-size: 8pt;
  color: gray;
}

.body_background {
    background-color: #fff0eb; /*Default white tone*/
}

.no-border {
    border: none !important;
}

.hidden_element {
    visibility: hidden !important;
    opacity: 0 !important;

    pointer-events: none;
}

.hidden_element_without_child {
    visibility: hidden !important;
}

.modal_input {
    /*alignment*/
    position: relative;
    width: 85% !important;

    transition: all 300ms;
    background-color: #fff0eb !important;
    border: #008CBA !important;
    border-style: none none solid none !important;
    border-radius: 5px !important;
}

.close {
    background: #606061;
    color: red !important;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: black;
}

.dropdown_menu {
    position: relative !important;

    right: auto !important;
    -webkit-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 120px;
  white-space: nowrap;
}

.disable_pointer {
    pointer-events:  none !important;
}

#initial_loading_div {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 250;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

#initial_loading_div.inactive {
        opacity: 0 !important;
        pointer-events: none !important;
}

#main_container {
    max-width: 100%;
    max-height: 100%;
    /*border: #3c763d dashed;*/

    width: 90%;
    height: 97%;

    min-width: 20rem;
    min-height: 30rem;
}

#title_div {
    max-width: 400px;
    max-height: 50%;
    margin: auto;

    width: 100%;
    height: 50px;

    min-width: 100px;
    z-index: 59;
}

#title_h1{
    margin: 0;
}

#title_footer{ /* Powered by*/
    bottom: 1%;
    left: 70%;
}

#title_a{ /*T_System*/}

#page_control_div {}

#options_btn {}

#control_btn {}

#prepare_btn {}

.swiper-container {
    max-width: 90%;
    max-height: 95%;

    /*alignment*/
    top: 13%;
    left: 50%;

    width: 85%;
    height: 75%;

    position: absolute;
    transform: translate(-50%);

    z-index: 61;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.template_container {
    visibility: visible;
    opacity: 1;

    transition: opacity 300ms;
    margin: auto;
}

.swiping_template_container {
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 61;
}

#swiper_wrapper.disabled {
    transform: translate3d(0px, 0, 0) !important;
}

#options_template_container {}

#controlling_template_container {}

#prepare_template_container {}

#job_template_container {
    max-width: 500px;
    max-height: 580px;

    /*alignment*/
    top: 5%;
    left: 5%;

    width: 55px; /*goes to 85%*/
    height: 45px; /* goes to 68%*/

    z-index: 62;
}

#job_template_container.focused {
    top: 5% !important;
    left: 50% !important;
    transform: translate(-50%) !important;

    width: 85% !important;
    height: 85% !important;
}

#system_info_template_container {
    max-width: 500px;
    max-height: 580px;

    /*alignment*/
    top: 95%;
    left: 50%;
    transform: translate(-50%);

    width: 120px; /*goes to 85%*/
    height: 30px; /* goes to 68%*/

    z-index: 61;
}

#system_info_template_container.focused {
    top: 20% !important;
    width: 85% !important;
    height: 68% !important;
}

#administration_template_container {
    max-width: 500px;
    max-height: 580px;

    /*alignment*/
    top: 6%;
    right: 8%;

    width: auto; /*goes to 85%*/
    height: auto; /* goes to 85%*/

    z-index: 205;
    /*border: #8a6d3b solid;*/

    display: inline-block !important;
}

#administration_template_container.focused {
    top: 5% !important;
    left: 50% !important;
    transform: translate(-50%) !important;

    width: 85% !important;
    height: 85% !important;

    display: inherit !important;
}

#dark_deep_background_div {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 60;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

#dark_deep_background_div.focused {
        opacity: 1 !important;
        pointer-events: all !important;
}


