.option_div {
    visibility: visible;
    opacity: 1;

    /*max-width: 175px;*/
    max-height: 400px;

    /*alignment*/
    /*top: -20%; !* it goes from 3.5rem to -5.5rem*!*/
    /*left: 27%;*/
    float: left;

    /*width: 55%;*/
    height: 45px; /*when activate goes to 70%*/

    transition: all 300ms;
    /*border: tan solid;*/
    border-radius: 5px;
    background-color: #fff0eb;
    /*margin: auto 5px auto auto;*/
}

.option_div.focused {
    position: absolute !important;
    /*top: 10%;*/
    left: 50%;

    transform: translate(-50%);
    width: 250px !important;
    height: 400px !important;
}

.option_btn {
    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 100%;

    width: 100%;
    height: 40px;

    transition: all 300ms;
    border-radius: 5px;

    background-color: #fff;
    color: #008CBA;

    font-size: 12px;
}

.option_io_div {
    position: relative;

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;

    left: 50%;
    transform: translate(-50%);

    transition: opacity 300ms;
    /*border: #8a6d3b solid;*/
}

.option_io_div.focused {
    visibility: visible;
    opacity: 1;

    margin: 20px auto;

    height: 320px;
}

.option_list_ul {
    visibility: visible;
    opacity: 1;

    max-width: 100%;
    margin: auto;

    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 96%;
    transition: opacity 300ms;
}

#options_player_div {
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}

#options_player_div.focused {
    visibility: visible !important;
    opacity: 1 !important;

    width: 100% !important;
    /*height: 60% !important;*/

    left: 50% ;
    transform: translate(-50%);

    z-index: 61 !important;
}

#options_video {
    width: 100%;
    /*height: 100%;*/
}

#options_image_viewer_div {
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}

#options_image_viewer_div.focused {
    visibility: visible !important;
    opacity: 1 !important;

    width: 100% !important;
    height: 100% !important;

    left: 50% ;
    transform: translate(-50%);

    z-index: 61 !important;
}

#options_image_viewer_img {
    width: 100%;
    height: 100%;
}


#close_options_player_btn {
    z-index: 62;
}

#options_image_viewer_div {
    visibility: hidden;
    opacity: 0;
}

#options_image_viewer_div.focused {
    visibility: visible !important;
    opacity: 1 !important;

    width: 100%;
    height: 60%;

    z-index: 61 !important;

    border: #8a6d3b solid;
}


/**********************************UPDATE CONTROL OPTION**********************************/
#update_control_div.higher {
    top: -60% !important;
}

#update_from_check_div {
    width: 60%;
    margin: auto;

}

#update_btn {
    left: 50%;
    transform: translate(-50%);
    margin: auto;
}

/**********************************WIFI CONNECTIONS OPTION**********************************/
#wifi_control_div.higher {
    top: -60% !important;
}

#create_wifi_input_form {
    left: 50%;
    transform: translate(-50%);
}

.new_network_input_transition {
    width: 70% !important;
}

.send_network_data_btn {
    /*alignment*/
    top: 2%;
    /*transform: translate(0, -50%);*/
    left: 75%;

    visibility: hidden;
    opacity: 0;

    max-width: 100px;
    max-height: 100px;

    border-radius: 40%;
    width: 40px;
    height: 25px;

    transition: all 300ms;
    background-color: #fff;
    color: #008CBA;
}

#network_list_ul {
    max-height: 235px;
    height: 225px;
}

#network_list_ul.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

#create_new_network.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
}

.existing_network_password {
    width: 110%;
    opacity: 0.6;
}

.existing_network_password.focused {
    opacity: 1;
}

.existing_network_password.changed {
    width: 80% !important;
}


/**********************************AUDIO INPUTS OPTION**********************************/

#audio_control_div.higher {
    top: -200% !important;
}

/**********************************FACIAL RECOGNITIONS OPTION**********************************/
#face_encoding_div.higher {
    top: -200% !important;
}

#face_encoding_input_div {}

#face_name_input {
    left: 50%;
    transform: translate(-50%);
}

#encode_new_face_btn {
    font-size: 13px;
    height: 2rem;
}

#f_enc_photo_label {
    font-size: 75%;
}

#encoded_face_list_ul {
    max-height: 240px;
    height: 230px;
}

#processing_animation_div {
    visibility: hidden;
    opacity: 0;

    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    transition: all 300ms;
}

#processing_animation_div.focused {
    visibility: visible !important;
    opacity: 1 !important;
}

#processing_animation {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.face_encoding_dropdown_menu {
    left: 44% !important;
}

.face_row {
    width: 85%;
    margin: auto;
}

.face_div {
    border: black;
    border-style: none none solid none;
    border-radius: 3px;
}

.face_div:hover {
    opacity: 0.8;
}

.face_a {
    font-size: 14px;
}

/**********************************RECORDS OPTION**********************************/
#record_control_div.higher {
    top: -340% !important;
}

#record_list_ul {
    max-height: 320px;
    height: 310px;
}

.record_dropdown_menu {
    left: 37% !important;
}

.record_a {
    font-size: 14px;
}
.record_time_span {
    position: absolute;
    opacity: 0.8;
    right: 2px;
    top: 0;
    font-size: 11px;
}

.record_length_span {
    position: absolute;
    opacity: 0.8;
    right: 2px;
    bottom: 0;
    font-size: 11px;
}

/**********************************EMPTY OPTION**********************************/
#empty_option_div.higher {
    top: -340% !important;

}

/**********************************LANGUAGE OPTION**********************************/
#lang_select_div.higher {
    top: -480% !important;
}

#lang_select_io_div {
    overflow: hidden;
}

#lang_select_dd_div {
    left: 50% !important;
    transform: translate(-50%) !important;
}

#lang_select_dd_btn {
    left: 50% !important;
    transform: translate(-50%) !important;
}

#lang_select_dd_container_div {
    background-color: #fff0eb;
}

.lang_select_dropdown_menu {
    left: 50% !important;
}

/**********************************HELP OPTION**********************************/
#help_control_div {
    top: -480% !important;
}
