.shine_in_dark {
    visibility: visible !important;
    opacity: 1 !important;

    color: #fff !important;

    z-index: 200 !important;
}

#main_specify_div {
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

#specify_sce_div {
    border: #20c997 solid;
    width: 170px;
}

#specify_param_div {

    border: #20c997 solid;
    width: 170px;
    margin: 0 auto;

    left: 55%;
}