#update_control_div {
    visibility: visible;
    opacity: 1;

    max-width: 175px;
    max-height: 280px;

    /*alignment*/
    /*top: -20%; !* it goes from 3.5rem to -5.5rem*!*/
    /*left: 27%;*/
    float: left;

    width: 44%;
    height: 40px; /*when activate goes to 70%*/

    transition: all 300ms;
    border: tan solid;

    /*margin: auto 5px auto auto;*/
}

#update_control_btn {
    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    align-items: center;

    /*alignment*/
    /*top: -88.5rem;*/

    width: 98%;
    height: 10%;

    transition: all 300ms;
    /*border: #8a6d3b solid;*/

    background-color: #FFFFFF;
    color: #008CBA;

}

#update_control_io_div {

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;
    margin: auto;

}

#wifi_control_div {
    visibility: visible;
    opacity: 1;

    max-width: 175px;
    max-height: 280px;
    /*margin: 0 auto;*/
    text-rendering: optimizeLegibility;
    align-items: center;

    /*alignment*/
    /*top: -20%; !* it goes from 3.5rem to -5.5rem*!*/
    /*left: 27%;*/
    float: left;

    width: 44%;
    height: 40px; /*when activate goes to 70%*/

    transition: all 300ms;
    /*border: tan solid;*/

    /*margin: auto 5px auto auto;*/
}

#wifi_connections_btn {
    position: relative;

    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    align-items: center;

    /*alignment*/
    /*top: -88.5rem;*/

    width: 98%;
    height: 10%;

    transition: all 300ms;
    /*border: #8a6d3b solid;*/

    background-color: #FFFFFF;
    color: #008CBA;

}

#wifi_control_io_div {
    position: relative;

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    align-items: center;

    /*alignment*/
    /*top: -88.5rem;*/

    /*width: 9.5rem;*/
    /*height: 13rem;*/

    transition: opacity 300ms;
    /*border: #8a6d3b solid;*/
}

.new_network_input {
    /*alignment*/
    position: relative;
    /*top: 1%;*/

    width: 98%;

    transition: all 300ms;
    border: 2px #008CBA;
    border-style: none none solid none;
    border-radius: 5px;
}

.new_network_input_transition {

    width: 70%;
}

#create_new_network_btn {
    /*alignment*/
    position: absolute;
    top: 40%;
    left: 75%;

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;


    border-radius: 40%;
    width: 15%;
    height: 45%;

    transition: all 300ms;
    background-color: #FFFFFF;
    color: #008CBA;
}

#network_list_ul {
    position: absolute;

    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 170px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    align-items: center;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;

    /*alignment*/
    top: 120%;

    width: 96%;
    height: 550%;

    transition: opacity 300ms;
    /*border: turquoise solid;*/
}

#language_dropdown_ul {
    visibility: visible;
    opacity: 1;

    /*width: 185px;*/
    /*height: 185px;*/

    margin: auto 5px 5px auto;

    /*border: turquoise solid;*/
}