#update_control_div {
    visibility: visible;
    opacity: 1;

    /*max-width: 175px;*/
    max-height: 280px;

    /*alignment*/
    /*top: -20%; !* it goes from 3.5rem to -5.5rem*!*/
    /*left: 27%;*/
    float: left;

    /*width: 55%;*/
    height: 40px; /*when activate goes to 70%*/

    transition: all 300ms;
    border: tan solid;
    border-radius: 5px;

    /*margin: auto 5px auto auto;*/
}

#update_control_div.focused {
    position: absolute !important;
    top: 10%;
    left: 50%;

    transform: translate(-50%);
    width: 200px !important;
    height: 700px !important;
}

#update_control_btn {
    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 100%;

    width: 98%;
    height: 38px;

    transition: all 300ms;
    border-radius: 5px;

    background-color: #fff;
    color: #008CBA;

    font-size: 13px;
}

#update_control_io_div {

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;
}

#update_control_io_div.focused {
    visibility: visible;
    opacity: 1;

    margin: 20px auto;
}

#wifi_control_div {
    visibility: visible;
    opacity: 1;

    /*max-width: 175px;*/
    max-height: 280px;

    float: left;

    /*width: 55%;*/
    height: 40px; /*when activate goes to 70%*/

    transition: all 300ms;
    border: tan solid;
    border-radius: 5px;
    background-color: #fff0eb;

}

#wifi_control_div.focused {
    position: absolute !important;
    top: 10%;
    left: 50%;

    transform: translate(-50%);
    width: 200px !important;
    height: 700px !important;
}

#wifi_connections_btn {
    position: relative;

    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 100%;

    width: 98%;
    height: 40px;

    transition: all 300ms;
    border-radius: 5px;

    background-color: #fff;
    color: #008CBA;

    font-size: 13px;
}

#wifi_control_io_div {
    position: relative;

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;
    /*margin: 0 auto;*/

    transition: opacity 300ms;
    /*border: #8a6d3b solid;*/
}

#wifi_control_io_div.focused {
    visibility: visible;
    opacity: 1;

    margin: 20px auto;
}

.new_network_input_transition {
    width: 70%;
}

#create_new_network_btn {
    /*alignment*/
    position: absolute;
    top: 40%;
    left: 75%;

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;


    border-radius: 40%;
    width: 15%;
    height: 45%;

    transition: all 300ms;
    background-color: #fff0eb;
    color: #008CBA;
}

#network_list_ul {
    position: absolute;

    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 170px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    align-items: center;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;

    /*alignment*/
    top: 120%;

    width: 96%;
    height: 550%;

    transition: opacity 300ms;
    /*border: turquoise solid;*/
}

#face_encoding_div {
    visibility: visible;
    opacity: 1;

    /*max-width: 175px;*/
    max-height: 280px;

    float: left;

    /*width: 55%;*/
    height: 40px; /*when activate goes to 70%*/

    transition: all 300ms;
    border: tan solid;
    border-radius: 5px;
    background-color: #fff0eb;
}

#face_encoding_div.focused {
    position: absolute !important;
    top: 10%;
    left: 50%;

    transform: translate(-50%);
    width: 200px !important;
    height: 700px !important;
}

#face_encoding_btn {
    position: relative;

    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 100%;

    left: 50%;
    transform: translate(-50%);

    width: 98%;
    height: 40px;

    transition: all 300ms;
    border-radius: 5px;

    background-color: #fff;
    color: #008CBA;

    font-size: 13px;
}

#face_encoding_io_div {
    position: relative;

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;

    left: 50%;
    transform: translate(-50%);

    transition: opacity 300ms;
    /*border: #8a6d3b solid;*/
}

#face_encoding_io_div.focused {
    visibility: visible;
    opacity: 1;

    margin: 20px auto;
}

#f_enc_photo_label {
    font-size: 75%;
}

#lang_select_div {
    visibility: visible;
    opacity: 1;

    max-width: 175px;
    max-height: 280px;

    float: left;

    width: 44%;
    height: 40px; /*when activate goes to 70%*/

    transition: all 300ms;
    border: tan solid;
}

#lang_select_div.focused {
    position: absolute !important;
    top: 10%;
    left: 50%;

    transform: translate(-50%);
    width: 200px !important;
    height: 700px !important;
}

#lang_select_btn {
    position: relative;

    visibility: visible;
    opacity: 1;

    max-width: 100%;
    max-height: 100%;

    width: 98%;
    height: 40px;

    transition: all 300ms;
    border-radius: 5px;

    background-color: #fff;
    color: #008CBA;

    font-size: 13px;
}

#language_dropdown_div {
    position: relative;

    visibility: hidden;
    opacity: 0;

    max-width: 100%;
    max-height: 100%;

    left: 50%;
    transform: translate(-50%);

    transition: opacity 300ms;
    /*border: #8a6d3b solid;*/
}

#language_dropdown_div.focused {
    visibility: visible;
    opacity: 1;

    margin: 20px auto;
}


#language_dropdown_ul {

    /*width: 185px;*/
    /*height: 185px;*/

    margin: auto 5px 5px auto;

    /*border: turquoise solid;*/
}