#system_info_btn {
    min-width: 140px !important;
    /*max-width: 250px !important;*/
    margin: 0 auto;

    /*alignment*/
    left: 50%;
    transform: translate(-50%);

    transition: all 300ms;
}

#system_info_btn.clicked {}

#system_info_div {
    display: none;

    max-width: 100%;
    max-height: 100%;

    height: 100%;

    transition: opacity 300ms;
    /*border: #8a6d3b solid;*/
}

#system_info_div.focused {
    display: block !important;
}

#system_info_chart_div{
    top: 15%;
}

#disk_usage_div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#disk_usage_div p {
    font-size: 100%;
    margin: auto;
    color: #f7f7f7;
}

#d_u_as_giga_min {
    color: rgb(0 255 0) !important;
}

#versions_div {
    visibility: hidden;
    opacity: 0;

    margin: auto 2px auto auto;

    top: 7%;

    width: 0;
    height: 0;
}

#versions_div.active {
    visibility: visible !important;
    opacity: 1 !important;

    width: 130px !important;
    height: 50px !important;
}

#versions_div p {
    font-size: 60%;
    margin: 0;
    color: #f7f7f7;
}
