m2r==0.2.1
picamera>=1.13
RPi.GPIO>=0.6.5
tinydb==4.3.0
numpy==1.19.4
sympy==1.5.1
paho-mqtt>=1.4.0
face_recognition==1.2.3
multipledispatch==0.6.0
wireless==0.3.3
netifaces==0.10.9
psutil==5.6.7
pyaccesspoint==0.2.5
wifi==0.3.8
flask==1.1.1
flask-session==0.3.1
flask-restful==0.3.8
Flask-Testing==0.7.1
schema==0.7.1
gitpython==3.0.7
elevate==0.1.3
imutils==0.5.3
gpiozero==1.5.1
pyaudio==0.2.11
requests==2.22.0
pyroute2==0.5.9
pexpect==4.8.0
opencv-python==4.2.0.32
opencv-contrib-python==4.2.0.32
dlib==19.18.0
adafruit-blinka==3.9.0
adafruit-circuitpython-pca9685
adafruit-circuitpython-servokit==1.1.0
tabulate==0.8.6
cloudpickle==1.3.0
dropbox==9.4.0
