picamera>=1.13
RPi.GPIO>=0.6.5
tinydb==3.13.0
numpy==1.17.0
paho-mqtt>=1.4.0
m2r==0.2.1
face_recognition==1.2.3
multipledispatch==0.6.0
wireless==0.3.3
netifaces==0.10.9
psutil==5.6.3
pyaccesspoint==0.2.5
wifi==0.3.8
flask==1.1.1
flask-session==0.3.1
flask-restful==0.3.7
schema==0.7.0
gitpython
elevate
imutils
gpiozero
pyaudio
